body{
    background-color: black;
}
.logo{
    width: 100px;
    float: left;
    
}
img{
    width: 200px;
}
ul li a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    margin: 10px;
    
}

ul li {
    list-style: none;
    display: inline;
    padding: 20px;
    font-size: 20px;
}
div ul {
    background-color: rgb(238, 241, 241) ;
    float: left;
    border-radius: 20px;
    padding: 5px;
}
.h p{
    color: white;
    width: 90%;
    margin-left: 200px;
    font-size: 20px;
}
h2 {
    color:white;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}
.one{
    width: 100%;
    text-align: center;

}

.one div{
    margin: 2%;
    width: calc(70% / 4);
    background-color: rgb(3, 3, 3);
    float: left;
    margin-top: 10px;
    
}

img{
    width: 100%;
  }
  .piece{
      color: white;
      font-size: 20px;
  }